<!doctype html>
<html lang="en" ng-app="mongomartApp">
<head>
  <meta charset="utf-8">
  <title>MongoMart</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/controllers.js"></script>
</head>
<body>

  <div ng-view></div>

</body>
</html>
