<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>

    <div class="container-fluid">
  
      <div class="row">

          <div class="col-md-3">
              <div class="well">

                <div class="search">
                  <input ng-model="query" placeholder="Search">
                </div>

                <div class="sort">
                  Sort by:
                  <select ng-model="itemOrder">
                    <option value="title">Alphabetical</option>
                    <option value="price">Price</option>
                  </select>
                </div>

              </div>
          </div>

          <div class="col-md-9">

              <!-- Project One -->
              <div class="row item" ng-repeat="item in items | filter:query | orderBy:itemOrder" class="thumbnail">
                  <div class="col-md-5">
                      <a href="store/item.html">
                          <img class="img-responsive" src="{{item.img_url}}" alt="">
                      </a>
                  </div>
                  <div class="col-md-7">
                      <h3>{{item.title}}</h3>
                      <h4>${{item.price}}</h4>
                      <h4>Dark gray hoodie</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                      <a class="btn btn-primary" href="/#/items/{{item._id}}">View Product <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
              </div>
              <!-- /.row -->
          </div>

      </div>

  </body>
</html>